<div class="container">

    <div class= "row">
        <div class= "col-xl-12 header">
                <h1> IT'S-A-BURGER TIME! </h1>
                <img src="/assets/img/burger.png">
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12 newBurger">
            <form class="newBurgerForm">
                <textarea id="order" type="text"></textarea>
                <br>
                <button id="burgerGen" type="submit">ORDER</button>
                <p>Place an order for your burger of choice...</p>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-6 nBurger">
            {{#each newBurger}}
                <p>
                    {{this.id}}: {{this.burger_name}}
                    <button eatID="{{this.id}}" class="eat"> EAT </button>
                </p>
            {{/each}}
        </div>

        <div class=col-xl-6 eaten>
            {{#each devoured}}
                <p><span class="label">Burger:</span> {{this.burger_name}}</p>
            {{/each}}
        </div>
    </div>

</div>

<script type="text/javascript">

    $('#burgerGen').on("click", function(event){
        event.preventDefault();
        var newBurger = {
            burger: $("#order").val.trim();
        }
        console.log(burger);
        $.post("/create", newBurger, function() {
            location.reload();
        });
    });

    $(".eat").on("click", function(event){
        var id = (this).data("eatID");

        $.ajax("eat/:id" + id, {
            type: "PUT"
        }).then(
            function(){
                console.log("You ate", id);
                location.reload();
            });
    });

</script>
